<nz-table
  #nzTable
  [nzData]="cities"
  [nzTitle]="'城市'"
  [nzSize]="'middle'">
  <thead>
  <tr>
    <th>国家</th>
    <th>城市名称</th>
  </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="templateDrop($event)">
  <tr cdkDrag *ngFor="let city of cities">
    <td>{{city?.name}}</td>
    <td>{{city.name}}</td>
  </tr>
  </tbody>
  <button at-button>123112312323</button>
  <!--<span nz-table-footer>Here is footer</span>-->
</nz-table>
